<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ulta"
    android:installLocation="auto"
    android:versionCode="0"
    android:versionName="4.2(build#14)">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

  
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- required for Conversant Tag SDK-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Needed for Core-Geofences for location lookup -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.VIBRATE" />

     <!--Dangerous permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    
      <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false"></uses-permission>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <!-- permission for GCM -->
    <permission
        android:name="com.ulta.android.beta.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ulta.core.activity.SplashActivity.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.ulta.pushnotification.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".core.Ulta"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ulta_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".core.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ulta" />
            </intent-filter>

        </activity>
        <activity android:name=".core.activity.product.HomeActivity"></activity>
        <activity android:name=".core.activity.CarouselActivity"></activity>
        <!-- Product Activities -->
        <activity
            android:name=".core.activity.product.PinchZoomActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".core.activity.product.UltaProductDetailsActivity"></activity>
        <activity android:name=".core.activity.product.UltaProductListActivity"></activity>
        <activity android:name=".core.activity.product.ViewItemsInBasketActivity"></activity>
        <activity android:name=".core.activity.product.FreeSamplesActivity"></activity>


        <activity
            android:name=".core.activity.product.ScanActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".core.activity.product.ReviewAndRatingActivity"></activity>
        <activity android:name=".core.activity.product.BrandsActivity"></activity>

        <!-- Product Activites End -->


        <!-- Rewards Activities -->

        <activity android:name=".core.activity.rewards.MyBonusOffersActivity"></activity>
        <activity android:name=".core.activity.rewards.RewardsActivity"></activity>
        <activity android:name=".core.activity.rewards.EarningRedeemingActivity"></activity>
        <activity android:name=".core.activity.rewards.PlatinumProgramActivity"></activity>
        <activity android:name=".core.activity.rewards.AlertsActivity"></activity>
        <activity android:name=".core.activity.rewards.MyPointsActivity"></activity>
        <activity android:name=".core.activity.rewards.GiftCardsTabActivity"></activity>
        <activity android:name=".core.activity.rewards.CouponActivity"></activity>
        <!-- Rewards Activities ends -->


        <!-- Stores Activity -->
        <activity android:name=".core.activity.stores.MapBaseActivity"></activity>
        <activity android:name=".core.activity.stores.StoresActivity"></activity>
        <activity android:name=".core.activity.stores.StoreDetailsActivity"></activity>
        <!-- Stores Activity end -->


        <!-- Checkout Activities -->
        <activity
            android:name=".core.activity.checkout.GiftOptionActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".core.activity.checkout.ShippingMethodActivity"></activity>
        <activity android:name=".core.activity.checkout.ReviewOrderActivity"></activity>
        <activity android:name=".core.activity.checkout.PromoCodeActivity"></activity>
        <activity
            android:name=".core.activity.checkout.PaymentMethodActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".core.activity.checkout.OrderSummaryActivity"></activity>
        <!-- Checkout Activities End -->


        <!-- About Activities -->
        <activity android:name=".core.activity.about.AboutUsActivity"></activity>
        <activity android:name=".core.activity.about.ContactUsActivity"></activity>
        <activity android:name=".core.activity.about.LegalActivity"></activity>
        <activity android:name=".core.activity.about.PrivacyPolicyActivity"></activity>
        <!-- About Activities End -->


        <!-- My Account activities -->
        <activity android:name=".core.activity.account.MyAccountActivity"></activity>
        <activity android:name=".core.activity.account.ChangePasswordActivity"></activity>
        <activity
            android:name=".core.activity.account.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".core.activity.account.ForgotLoginActivity"></activity>
        <activity android:name=".core.activity.account.RegisterDetailsActivity"></activity>
        <activity android:name=".core.activity.account.MyPrefferedShippingAddressActvity"></activity>
        <activity android:name=".core.activity.account.PaymentMethodListActvity"></activity>
        <activity android:name=".core.activity.account.EditShippingaddessActivity"></activity>

        <!-- My Account activities end -->
        <activity android:name=".core.activity.account.AddShippingAddressActivity"></activity>
        <activity android:name=".core.activity.account.AddCreditCardActivity"></activity>
        <activity
            android:name=".core.activity.SearchActivity"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name=".core.activity.product.WriteReviewActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".core.activity.myprofile.FavoritesActivity"></activity>
        <activity android:name=".core.activity.rewards.ClubUltaActivity"></activity>

        <activity android:name=".core.activity.account.MyOrderHistoryActivity"></activity>
        <activity android:name=".core.activity.account.MyOrderDetailsActivity"></activity>
        <activity android:name=".core.activity.account.JoinRewardsActivity"></activity>
        <activity android:name=".core.activity.AppRater"></activity>
        <activity android:name=".core.activity.product.PromotionsListActivity"></activity>
        <!-- Activities added for 3.2 release -->
        <activity android:name=".core.activity.rewards.ViewMyRewardsCardActivity"></activity>
        <activity android:name=".core.activity.account.OrderTrackingActivity"></activity>
        <activity android:name="com.ulta.core.activity.account.BeautyPreferrencesActivity"></activity>


        <activity android:name=".core.activity.product.ExtendedActivity"></activity>
        <activity android:name=".core.activity.checkout.PayPalWebviewActivity"></activity>
        <activity android:name="com.ulta.core.activity.product.QuestionsAndAnswersActivity"></activity>
        <activity android:name=".core.activity.product.AskQuestionActivity"></activity>
        <activity android:name=".core.activity.product.StoreRTIActivity"></activity>
        <activity android:name=".core.activity.product.ProductQnAGuidelinesActivity"></activity>
        <activity android:name=".core.activity.product.PreviewQuestionActivity"></activity>
        <activity android:name=".core.activity.product.QnAThankyouActivity"></activity>
        <activity android:name=".core.activity.account.GuestLoginActivity"></activity>
        <activity android:name=".core.activity.checkout.ChooseFreeGiftActivity"></activity>
        <activity
            android:name=".core.activity.account.OlapicActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.activity.account.ShopListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.activity.account.OlapicImageDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.activity.account.OlapicUploadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.activity.about.PhotoSharingGuidelines"
            android:screenOrientation="portrait"></activity>

        <!--&lt;!&ndash; production key &ndash;&gt;
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDu7CNyCEZAwy4ap953lZynltZ10bRnb9c" />-->

        <!-- dev key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAj-9gTQqK9RnjJNxDlCqldcvd9I2lTJ4E" />



        <activity android:name=".core.activity.rewards.MobileOffersActivity"></activity>
        <activity android:name=".core.activity.account.WebViewActivity"></activity>
        <!-- Core-GCM manifest entries below -->
        <receiver
            android:name="com.ulta.core.pushnotification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- Category must be named after the app's package -->
                <category android:name="com.ulta" />
            </intent-filter>
        </receiver>

        <service android:name="com.ulta.core.pushnotification.GCMNotificationIntentService" />
        <!-- End Core-GCM manifest entries -->
        <activity android:name=".core.activity.rewards.NonSignedInRewardsActivity"></activity>
        <activity
            android:name=".core.activity.checkout.AddShippingAddressGuestUserActivity"
            android:configChanges="screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".core.activity.checkout.AddShippingAddressLogginUserActivity"
            android:configChanges="screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".core.activity.checkout.ShippingAddressVerification"></activity>
        <activity android:name=".core.activity.SetEnvironmentActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".core.activity.product.SpecialOffersActivity"></activity>
        <activity android:name=".core.activity.product.BuyMoreSaveMoreLandingActivity"></activity>
        <activity android:name=".core.activity.product.GWPLandingActivity"></activity>
        <receiver android:name=".core.activity.AlarmReceiver" />
        <activity android:name=".core.activity.account.BeautyPreferenceActivity"></activity>
        <activity android:name=".core.activity.rewards.RewardsWebViewActivity"></activity>
        <activity android:name=".core.activity.rewards.UltaMateCreditCardActivity"></activity>
        <activity android:name=".core.activity.about.LearnMoreActivity"></activity>

        <!--cash start ui activity-->

        <activity android:name=".core.activity.product.CashStarHomeUI">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="cashstar.intent.action.ULTA" />
            </intent-filter>
        </activity>
        <!--Fabric distribution params-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="45978378b6fd292ca9061cadf0a6103c079ab479" />

        <!-- required for Conversant Tag SDK-->
        <meta-data
            android:name="conversantSiteId"
            android:value="2180" />

        <service
            android:name="conversant.tagmanager.sdk.CNVRTagService"
            android:exported="false" />


    </application>

</manifest>